body {
    background-color:black; 
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv {
    background-color: white;
    color: black;
    font-size: 13px;
    width: 300px;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
}
.maindiv label{
    display: inline-block;
    text-align: left;
    float: left;
}
.maindiv input, select{
    display: inline-block;
    text-align: right;
    float: right;
}
.maindiv output{
    left:124px;
    position:absolute;
}
.block{
    display: inline-block;
    position:relative;
    width:100%
}

